<div layout="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex="100">
    <md-card class="has-scrollable">
      <div class="card-header">
        <div class="pull-left">
          <md-card-title>Other Transactions</md-card-title>
          <md-card-subtitle>Transactions made from other accounts</md-card-subtitle>
        </div>
        <td-search-box backIcon="arrow_forward" placeholder="Search Transactions..." [showUnderline]="true" [alwaysVisible]="false" (searchDebounce)="search($event)"></td-search-box>
      </div>
      <md-divider></md-divider>
      <md-nav-list class="will-load item-list scrollable" *tdLoading="'other'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
        <transaction-item *ngFor="let transaction of transactions" [transaction]="transaction"></transaction-item>
      </md-nav-list>
    </md-card>
  </div>
</div>