<div layout="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex="100">
    <md-card class="has-scrollable">
      <div class="card-header">
        <div class="pull-left">
          <md-card-title>All Transactions</md-card-title>
          <md-card-subtitle>Transactions made from all accounts</md-card-subtitle>
        </div>
      </div>
      <md-divider></md-divider>
      <div #scrollable class="scrollable">
        <md-nav-list *tdLoading="'deposits'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'">
          <app-transaction-item *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction-item>
        </md-nav-list>
      </div>
      <md-divider></md-divider>
      <md-paginator class="paginator"
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChange($event)">
      </md-paginator>
    </md-card>
  </div>
</div>
