<td-layout-nav logo="assets:monzo" navigationRoute="/">

  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex></span>
  </div>
  <md-tab-group class="three-tabs">
    <md-tab label="All Transactions">
      <app-transactions-all></app-transactions-all>
    </md-tab>
    <md-tab label="Deposits">
      <app-deposits></app-deposits>
    </md-tab>
    <md-tab label="Expenditure">
      <app-expenditure></app-expenditure>
    </md-tab>
  </md-tab-group>

</td-layout-nav>
