<td-layout-nav logo="assets:monzo" navigationRoute="/">

  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex></span>
  </div>
  <md-tab-group class="three-tabs">
    <md-tab label="Monzo Transactions">
      <transactions-monzo></transactions-monzo>
    </md-tab>
    <md-tab label="Other Transactions">
      <transactions-other></transactions-other>
    </md-tab>
    <md-tab label="All Transactions">
      <transactions-all></transactions-all>
    </md-tab>
  </md-tab-group>

</td-layout-nav>